
/*  copy & paste all the text below this
    this paragraph into to your .env or
    config.env file and fill in the
    actual values of the field        */


PORT=your_actual_port
DB_URL=your_actual_database_url
JWT_KEY=your_actual_jwt_key
